<h1>Api#contact_form_test</h1>
<p>Find me in app/views/api/contact_form_test.html.erb</p>
<script type="text/javascript" data-form-token="abc">
(function() {     
var script = document.createElement('script');     
script.async = true;     
script.src   = 'http://localhost:3000/assets/loader.js?body=1';     
var entry = document.getElementsByTagName('script')[0];     
entry.parentNode.insertBefore(script, entry); })();
</script>