<h1>Api#test</h1>
<p>Find me in app/views/api/test.html.erb</p>
<script data-form-token="abc">
(function() {     
var script = document.createElement('script');     
script.async = true;     
script.src   = './api/loader.js';     
var entry = document.getElementsByTagName('script')[0];     
entry.parentNode.insertBefore(script, entry); })(); 
</script>
